---

import { ExtraNav } from "../components/ExtraNav.tsx"
import { SignedIn, SignedOut, UserButton, SignInButton, SignUpButton } from "@clerk/astro/components";
import "../css/global.css"
import { Image } from "astro:assets";
import blue_parrot from "@/assets/blue-parrot-logo.png"
---
      <div class="">
        <header class="bg-primary">
          <nav aria-label="Top" class=" bg-white mx-auto px-4 sm:px-6 lg:px-8 fixed top-0 left-1/2 transform -translate-x-1/2 w-full z-50">
            <div class="">
              <div class="flex h-16 items-center">
                <button
                  type="button"
                  
                  class="bg-white p-2 text-dark lg:hidden"
                >
                  <span class="" />
                  <span class="sr-only">Open menu</span>
                  
                </button>

                
                <div class=" ml-4 flex lg:ml-0 mt-6">
                  <a href="/">
                    <span class='text-5xl text-dark funn rounded-md'>SchreibRecht</span>
                    <Image src={blue_parrot} alt="parrot" class="size-16 inline-block mb-5"/>
                  </a>
                </div>

                <div class="mx-auto mt-4">
                  <ExtraNav client:load/>
                </div> 
                  
                  <div class="ml-auto flex justify-between">
                    <a href="/auth/signup" class="px-4 py-2 bg-primary border border-black rounded-md font-bold hover:shadow-md transition-all">SignUp</a>
                  </div>
                  <div class="flow-root">
                    <div class="ml-5">
                      <a href="/auth/signin" class="px-4 py-2 bg-white border border-black rounded-md font-bold hover:shadow-md transition-all">SignIn</a>
                    </div>
                </div>
              </div>
            </div>
          </nav>
        </header>
      </div>
